name: Golang lint, golic, gokart and test
on:
  push:
    paths-ignore:
      - '**.md'
      - '**.svg'
      - '**.drawio'
      - '.spelling'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.svg'
      - '**.drawio'
      - '.spelling'
jobs:
  inspect-skipping:
    runs-on: ubuntu-latest
    name: Figuring out whether I can skip the job
    outputs:
          should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
    - id: skip_check
      uses: fkirc/skip-duplicate-actions@v3.4.1
      with:
        skip_after_successful_duplicate: 'true'
        do_not_skip: '["workflow_dispatch", "schedule"]'

  go-inspect:
    name: Inspect packages
    needs: inspect-skipping
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}

    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      # see: https://golangci-lint.run/usage/configuration/#config-file
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: v1.42.1
      - name: go test
        run: go test ./...